# list
- create
- indexing and slicing

In [5]:
a=[1,2,3]
print(a,type(a))
name=["alina","saline","anshika"]
print(name,type(name))
data=["apple",50,"mango",10,"orange",20]
print(data)
nested_list=[[1,3,3],[4,5,6,],[3,6,6]]
print(nested_list)
duplication_list=[1]*10
print(duplication_list)
print(list("vertex"))
print("welcome to listing".split())

[1, 2, 3] <class 'list'>
['alina', 'saline', 'anshika'] <class 'list'>
['apple', 50, 'mango', 10, 'orange', 20]
[[1, 3, 3], [4, 5, 6], [3, 6, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [13]:
n=[11,12,13,14,15,16,17,18,19]
print("first five=",n[:5])
print("last five=",n[-5:])
print("last element=",n[-1])
print("first elemnet=",n[0])
print("last five=",n[-5::-1])
print("execpt first 2 and last 2=",n[2:-2])
print("all even index=",n[::2])
print("all odd indexing=",n[1::2])

first five= [11, 12, 13, 14, 15]
last five= [15, 16, 17, 18, 19]
last element= 19
first elemnet= 11
last five= [15, 14, 13, 12, 11]
execpt first 2 and last 2= [13, 14, 15, 16, 17]
all even index= [11, 13, 15, 17, 19]
all odd indexing= [12, 14, 16, 18]

In [14]:
# list is mutable
n[5]=120 #update
print(n)
n[0]=300
print(n)

[11, 12, 13, 14, 15, 120, 17, 18, 19]
[300, 12, 13, 14, 15, 120, 17, 18, 19]

In [16]:
movie=[]
print(type(movie))
movie.append("star wars")
movie.append("harry potter")
movie.append("inside out")
movie.append("jumanji")
movie.append("kill")
print(movie)
print(len(movie))

<class 'list'>
['star wars', 'harry potter', 'inside out', 'jumanji', 'kill']
5

In [20]:
ff=['fast and furious',
    "2 fast and furious",
    "3 fast and furious",
    "5 fast and furious"]
print(ff)
ff.insert(3,"4 fast and furious")
print(ff)

['fast and furious', '2 fast and furious', '3 fast and furious', '5 fast and furious']
['fast and furious', '2 fast and furious', '3 fast and furious', '4 fast and furious', '5 fast and furious']

In [6]:
n=[1,3,5,6,7,8]
print(n)
n.insert(1,2) # on 1st index insert the value 2.
print(n)
n.insert (3,4) # on 3rd index insert the value 4.
print(n)
n.insert(100,5) # invlaid index so it will insert at the end.
print(n)

[1, 3, 5, 6, 7, 8]
[1, 2, 3, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 5]

In [27]:
# adding a list in another list
l1=[11,3,4,9,]
l2=[12,3,4,5]
l3=[23,4,5,7]
l1.extend(l2)
print(l1)
l1.extend(l3)
print(l1)

[11, 3, 4, 9, 12, 3, 4, 5]
[11, 3, 4, 9, 12, 3, 4, 5, 23, 4, 5, 7]

In [8]:
n.remove(1) # search where is 3 and remove it.
print(n)
n.remove(4) # remove first 5.
print(n)

[2, 3, 4, 5, 6, 7, 8, 5]
[2, 3, 5, 6, 7, 8, 5]

In [9]:
n.pop(3) # index wise remolve

6

In [10]:
n.pop() # it remove last value

5

In [11]:
n.clear() # to remove all element of the list.
print(n)

[]

In [12]:
x=[1,2,3,1,1,1,2,2,2,3,1,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

6
6
3
0

In [2]:
y=[1,2,3,4,5]
y.reverse() # or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [13]:
names=["vijay","salman","rahul","aakaya","kayra"]
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['aakaya', 'kayra', 'rahul', 'salman', 'vijay']
['vijay', 'salman', 'rahul', 'kayra', 'aakaya']

In [5]:
x=[1,2,3]
y=x
z=x.copy()
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [6]:

x=[1,2,3,4,5]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
    print(x2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

syntax:
x2=[i**2 for i in x]
print(x2)

In [7]:
x=[1,2,3,8,4,]
x2=[i**2 for i in x]
print(x)
print(x2)

[1, 2, 3, 8, 4]
[1, 4, 9, 64, 16]

In [10]:
x=[1,3,4,5,6,7]
x2=[i-10 for i in x]
print(x)
print(x2)

[1, 3, 4, 5, 6, 7]
[-9, -7, -6, -5, -4, -3]

In [15]:
x=[15,3,12,11,6,7]
xeven=[i-5 for i in x if i%2!=0]
print(xeven)

[10, -2, 6, 2]

In [17]:
a=[65,68,59,80,70]
b=[chr(i) for i in a]
print(a)
print(b)

[65, 68, 59, 80, 70]
['A', 'D', ';', 'P', 'F']

In [18]:
crap_list=["A",1,2,3,"B","C","D",4,5,6,7]
clean_list=[i for i in crap_list if isinstance(i,int)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [20]:
crap_list=["A",1,2,3,"B","C","D",4,5,6,7]
clean_list=[i for i in crap_list if isinstance(i,str)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 6, 7]
['A', 'B', 'C', 'D']

In [23]:
# make all the input to a int list
nums=[int(n) for n in input("enter the number with spaces").split()]
print(nums)

[12, 3, 2, 4, 5]

# Data Structure
- list :- ( index , orderded , write [ ] , duplicates , mutable , single , elements )
- tuple :- ( index , orderded , write ( ) , duplicates , immutable , single )
- set :- ( unindexed , unorderded , write { } , unique , mutable , single )
- dictionary :-( unindexed , orderded , write { } , value duplicates , mutable , key = value pair )

# Tuple

In [24]:
a=(1,2,3,4,5,6,7)
print(a,type)
b=1,2,3,4,5
print(b,type(b))
# single element tuple
c=(1,)
print(c)
e=tuple([1,2,3,4,5])
print(e,type(e))

(1, 2, 3, 4, 5, 6, 7) <class 'type'>
(1, 2, 3, 4, 5) <class 'tuple'>
(1,)
(1, 2, 3, 4, 5) <class 'tuple'>

In [25]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
7
(1, 2, 3)
(4, 5, 6, 7)

In [26]:
x=(1,1,1,1,3,4,5,6,6,)
print(x.count(1))
print(x.count(10))
print(x.index(4))

4
0
5

# tuple unpacking


1,2,3

In [2]:
x=("apple",100)
print(x)

('apple', 100)

In [3]:
item,price=x
print(item,price)

apple 100

In [4]:
a,b,c=10 , 20, 30
print(a,b,c)

10 20 30

In [5]:
# error- too many value to unpack
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b,*c=one_tuple
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a,b,c=x # unfixeble

ValueError: not enough values to unpack (expected 3, got 2)

In [7]:
a,*b=one_tuple
print(a)
print(b)
*a,b=one_tuple
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [8]:
one , *middle , last = one_tuple
print(one)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [ ]:
# trick- using * for displaying data in print

In [9]:
print(one_tuple)

print(*one_tuple) # work with any iterable.

print(*one_tuple,sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in one_tuple:
    print(i)

1
2
3
4
5
6
7
8
9
10