### loop in python 
- for loop-> step based loop
- while loop-> condition based loop

iterable is any thing that have a sub iteams and childs is called iterable.
rande are used for generate the data.

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range(1,11,2):#this the simple traversel
    print(i,end=",")

1,3,5,7,9,

In [8]:
# reverse
for i in range(5,-6,-1):
    print(i,end=",")

5,4,3,2,1,0,-1,-2,-3,-4,-5,

In [9]:
word = "digipodium"
for char in word:
    print("->",char)

-> d
-> i
-> g
-> i
-> p
-> o
-> d
-> i
-> u
-> m

In [10]:
data="nfnij121@w(/93nbc"
for i in data:
    if i.isalpha():#in this isalpha is the string alphabadicle order.
        print(i)

n
f
n
i
j
w
n
b
c

In [18]:
nums=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for num in nums:
    print(num*5)
    if nums/2==0:
        print(nums)

-25

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [19]:
fruits=["apple","banana","cherry","dragonfruit","eggplant","fig","grapeds","honeydew","imli","kiwi"]
for fruit in fruits:
    print(fruit,len(fruit))

apple 5
banana 6
cherry 6
dragonfruit 11
eggplant 8
fig 3
grapeds 7
honeydew 8
imli 4
kiwi 4

In [27]:
for a in fruits:
    if a =="fig":
        break
    print(a)
print("loop completed")

apple
banana
cherry
dragonfruit
eggplant
loop completed

In [29]:
num=[120,-20,10,40,101,-5,15]
total=0
for i in num:
    if i<0:
        continue
    total += i
    print(total)

120
130
170
271
286

In [31]:
num=[120,-20,10,40,101,-5,15]
total=0
for i in num:
    if i>0:
        total += i
    print(total)

120
120
130
170
271
271
286

In [11]:
name=["muskan","anshika","akansha","kayra","aditaya"]
for i in name:
    print(i)

muskan
anshika
akansha
kayra
aditaya

In [12]:
for i,v in enumerate(name):
    print(i,v)

0 muskan
1 anshika
2 akansha
3 kayra
4 aditaya

In [13]:
for i,v in enumerate(name):
    if i % 2 ==0:
        print(i,v)

0 muskan
2 akansha
4 aditaya

In [14]:
for i,v in enumerate(name):
    if i % 2 !=0:
        print(i,v)

1 anshika
3 kayra

In [18]:
x=[1,2,3,4,5]
y=[6,7,8,9,10]

for i,j in zip(x,y):
    print(f'{i}+{j}={i+j}')

1+6=7
2+7=9
3+8=11
4+9=13
5+10=15

In [19]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
for a,b,c in zip(a,b,c):
     print(f'{a}+{b}+{c}={a+b+c}')

1+4+7=12
2+5+8=15
3+6+9=18

In [25]:
name=["apple","banana","cherry"]
price=[100,200,300]
qty=[3,2,5]
total=0
for n,p,q in zip(name,price,qty):
    print(f"{n:10}|{p:^5}|{q:^3}|{p*q:>5}")
    total +=p*q
print("_"*30)
print(f"total {total:20}")

apple     | 100 | 3 |  300
banana    | 200 | 2 |  400
cherry    | 300 | 5 | 1500
______________________________
total                 2200

In [26]:
for i in range(5):
    print(i)
    if i==13:
        break
else:
    print("loop completed successfully")

0
1
2
3
4
loop completed successfully

In [29]:
# Agrigate fuction
n= int(input("enter a stop value:"))
for i in range(1,12):
    if i==n:
        print("loop terminated")
        break
    print(i)
else:
    print('well done')

1
2
3
loop terminated

In [35]:
n=int(input("enter a number"))
for i in range(2,n):
    print(f"=> {n}%{i} == {n%i==0}")
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

=> 5%2 == False
=> 5%3 == False
=> 5%4 == False
prime

In [36]:
i=200
while i>0:
    print(i)
    i-=25

200
175
150
125
100
75
50
25

In [ ]:
agrigate fuction