In [ ]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# reading data

In [ ]:
info={
    'name':['suraj','shiv','shivi','anjali','muskan'],
    'age':[19,20,23,29,13],
    'height':[5.23, 3.5, 5.1, 5.9, 6.1],
}
d1=pd.DataFrame(info)
print(d1)

In [ ]:
d2=pd.read_csv("datasample.csv")
d2=print(d2)

In [ ]:
df=pd.read_excel('Canada.xlsx',
              sheet_name=1,
              skiprows=20,
              skipfooter=2
)
df

## looking at the data
- head()- top 5 row of the data
- tail()-bottom n row of the publish_display_data
- sample(n)-random n sample of the publish_display_data
- info()-column wise datatypes
- describe()-summary statistic of the data

In [ ]:
df.head(2)

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.sample(3)

In [ ]:
df.describe(include="object")

# column wisev data

In [ ]:
df.columns

In [ ]:
df['OdName']

In [ ]:
df['AreaName']# series object

In [ ]:
# multiple columns
df[["AreaName","RegName"]]

In [ ]:
years=list(range(1980,2014))
df[years]

In [ ]:
df[['OdName',1980,1990,2000,2010]]

In [ ]:
# row wise access using loc and iloc
df.loc[0] # label waise location

In [ ]:
df.iloc[1] # index wise location

In [ ]:
df.iloc[:10,[0,1,2,3,4]]

In [ ]:
df.loc[:10,['OdName',1980,1990,2000,2010]]

# manipulation

In [ ]:
d2['total']=d2['english']+d2['math']+d2['science']
d2

In [ ]:
df['total']=df[years].sum(axis=1)
df

In [ ]:
df["dummy_col"]=1
df

# drop the unwanted columns
- drop()-drop the row with missing Value
- drop()- drop

In [ ]:
cols_to_drop=['Type','Coverage','AREA','REG','DEV','dummy_col']
df.drop(columns=cols_to_drop)

In [ ]:
df.rename(
    columns={
        'OdName':'country',
        'AreaName':'continent',
        'RegName':'region',
        'DevName':'status'
    }
)

In [ ]:
df.sort_values(by='total')#ascending oredr

In [ ]:
df=df.sort_values(by='total',ascending=False)#decending order

In [ ]:
fig,ax=plt.subplots(figsize=(15,6))
sns.barplot(x='country', y='total',data=df.head(10),ax=ax)
ax.axhline(df.head(10)['total'].mean(),color='r',linestyle='--')
ax.text(5,df.head(10)['total'].mean(),+1000,df.head(10)['total'].mean())
plt.title('Top 10 countries with highest immigration overall')
plt.xticks(rotation=90)
plt.show()

In [ ]:
df['country'].tolist()

In [ ]:
df=df.replace('United Kingdom of Great Britain and Northern Ireland','UK')
df

In [ ]:
df['total_str']=df['total'].apply(lambda i:f"{i/100000:.2f} Lac")
df