# set
- create
- method

In [1]:
x=set() # empty
print(x)
y={1,2,3,4,5,6,1,2}
print(y)
fruit={"apple","banana","cherry"}
print(fruit)
data={"apple",205,3.14,"banana"}
print(data)
a=set([1,2,3,4,5,6,7,8,9,10])
b=set("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'apple', 'cherry', 'banana'}
{'apple', 3.14, 205, 'banana'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{' ', 'e', 'a', 'r', 'h', 'p', 't', 'y', 'o'}

In [2]:
a=set()
a.add("the final empire")
a.add("the hero of ages")
a.add("the well of ascension")
print(a)

{'the well of ascension', 'the final empire', 'the hero of ages'}

In [3]:
a.update(["appleseed","applepie","appleCider"]) # same value not de added
print(a)

{'the final empire', 'appleseed', 'the well of ascension', 'the hero of ages', 'appleCider', 'applepie'}

In [4]:
a.add("appleseed")# not added
print(a)# not dublicey

{'the final empire', 'appleseed', 'the well of ascension', 'the hero of ages', 'appleCider', 'applepie'}

In [5]:
a.discard("appleseed")
a.discard("applepie") # no error 
a.discard("appleseed")
print(a)

{'the final empire', 'the well of ascension', 'the hero of ages', 'appleCider'}

In [6]:
a={1,2,3}
b={3,4,5}
c={6,7,8}

ab=(a.union(b))
print(ab)

print(a.union(b,c))# all the value are included
print(a|b|c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [8]:
print(a.difference(b))
print(b.difference(a))
print(a-b) # - is difference

{1, 2}
{4, 5}
{1, 2}

In [9]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

# Dictionary

In [6]:
data=["alex",True,False,29,"new york","photographer"]
datadict={
    'name':"alex",
    'isMarried':True,
    'haschildren':False,
    'age':29,
    'city':'new york',
    'profession':'photographer'
}
movie={} #empty dictionary

expenditure=dict(
    food=400,
    rent=300,
    insurance=100,
)
print(datadict)
print(expenditure)

{'name': 'alex', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'food': 400, 'rent': 300, 'insurance': 100}

In [5]:
datadict

{'name': 'alex',
 'isMarried': True,
 'haschildren': False,
 'age': 29,
 'city': 'new york',
 'profession': 'photographer'}

- create 
- accessing
- add or update
- remove
- traversal

In [10]:
print(datadict["name"])
print(datadict["isMarried"])
print(datadict["city"])
 # print(datadict["state"])

alex
True
new york

In [11]:
print(datadict.get('city'))
print(datadict.get('City') )# City is not in the dictionary.
print(datadict.get('age'))
print(datadict.get('AGE',90)) # AGE is not in the dictionary

new york
None
29
90

In [12]:
movie['deadpool & wolverine']="shawn levy"
movie['bahubali']=" ss rajamuouli"
movie['inception']='christophor nolan'
movie['poobear']='chirstophor robin'
print(movie)

{'deadpool & wolverine': 'shawn levy', 'bahubali': ' ss rajamuouli', 'inception': 'christophor nolan', 'poobear': 'chirstophor robin'}

In [13]:
movie.update(
    {
        'the dark knight':'christopher nolan',
        'the matrix':'wachowski brother',
        'the prestige':'christopher'
    }
)
print(movie)

{'deadpool & wolverine': 'shawn levy', 'bahubali': ' ss rajamuouli', 'inception': 'christophor nolan', 'poobear': 'chirstophor robin', 'the dark knight': 'christopher nolan', 'the matrix': 'wachowski brother', 'the prestige': 'christopher'}

In [15]:
datadict['name']="alexsa"
print(datadict)

{'name': 'alexsa', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}

In [18]:
len(movie)

7

In [19]:
movie.pop('bahubali') # pop is remove the data form the divtionary

' ss rajamuouli'

In [20]:
movie

{'deadpool & wolverine': 'shawn levy',
 'inception': 'christophor nolan',
 'poobear': 'chirstophor robin',
 'the dark knight': 'christopher nolan',
 'the matrix': 'wachowski brother',
 'the prestige': 'christopher'}

for loop in dict will iterate over key

In [21]:
for item in datadict:
    print(item)

name
isMarried
haschildren
age
city
profession

In [22]:
for item in datadict:
    print(datadict[item])

alexsa
True
False
29
new york
photographer

In [23]:
for k,v in datadict.items():
    print(k,v)

name alexsa
isMarried True
haschildren False
age 29
city new york
profession photographer

In [29]:
movie.keys()

dict_keys(['deadpool & wolverine', 'inception', 'poobear', 'the dark knight', 'the matrix', 'the prestige'])

In [31]:
movie.values()

dict_values(['shawn levy', 'christophor nolan', 'chirstophor robin', 'christopher nolan', 'wachowski brother', 'christopher'])

In [42]:
report={
    '01': {
        'name':"alex",
    'subject':{
            "math":80,
        "history":90,
        "science":70
    }
    },
    '02': {  
        'name':"lio",
        "subject":{
            "maths":45,
            "english":69,
            "commerce":60

    }
},
}

In [43]:
report["02"]["subject"]["english"]

69

In [ ]:
from pprint import pp

In [ ]:
pp(report)

In [44]:
rainfall_data={
    'year':[2001,2019,2020,2019,2023],
    'rainfall':[2023,2004,2009,2001]
}
print(rainfall_data)

{'year': [2001, 2019, 2020, 2019, 2023], 'rainfall': [2023, 2004, 2009, 2001]}